:root{
	--primary-bg-color: rgb(238, 238, 238);
	--primary-font-color: rgb(36, 36, 36);
	--secondary-font-color: rgb(85, 85, 85);
	--accent-font-color: rgb(255, 255, 255);
	--accent-color: rgb(236, 33, 33);
	--primary-title-size: 1.2em;
	--primary-font-size: 1em;
}
*{
	margin: 0;
	padding: 0;
	font-family: Inter,Verdana, Geneva, Tahoma;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: var(--primary-bg-color);
	color: var(--primary-font-color);
}
#navBar{
	position:fixed;
	width: 100dvw;
	height: 7dvh;
	top: 0;
	left: 0;
	background-color: var(--primary-bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.116);
}
#title{
	padding-left: 1rem;
	& h2{
		font-weight:bold;
		font-size: var(--primary-title-size);
	}
}
#Navigator{
	padding-right: 1rem;
	width: 20rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#Navigator li{
	display: flex;
	height: 100%;
	flex: 1;
	list-style-type: none;
	text-align: center;
	& a{
		flex: 1;
		color: var(--primary-font-color);
		text-decoration: none;
		font-size: var(--primary-font-size);
	}
}
#menuButton{
	width: 50px;
	display: none;
	margin-right: 1rem;
}
.container{
	padding-top: 7vh;
	width: 100dvw;
	height: 100dvh;
	filter: none;
}
#Hero{
	display: flex;
}
#heroLeft{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 4em;
	padding-bottom: 10dvh;
	& article, h1{
		display: inline-block;
		font-size: 1.5em;
		color: var(--primary-font-color);
	}
	& article{
		margin-bottom: 1em;
		color: var(--secondary-font-color);
	}
}
#About{
	display: flex;
}
#leftAbout{
	padding: 0 4em;
	padding-top: 5dvh;
	flex: .3;
	& h1{
		margin-bottom: 2rem;
	}
	& h3 {
		display: inline-block;
	}
}
/* Utilities */
.darkmode{
	--primary-bg-color: rgb(49, 49, 49);
	--primary-font-color: rgb(250, 250, 250);
	--secondary-font-color: rgb(206, 206, 206);
	& #menuButton{
		filter: invert();
	}
}
.buttonDefault{
	font-size: var(--primary-font-size);
	color: var(--accent-font-color);
	background-color: var(--accent-color);
	font-weight: bold;
	border: 0px solid rgb(255, 255, 255);
	border-radius: 1em;
	width: 10rem;
	height: 2.5em;
}
@media (width <= 530px) {
	#Navigator{
		display: none;
	}
	#menuButton{
		display: inline;
	}
}